<%= form_with(model: plan) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div>
    <%= f.label :interval %>
    <%= f.select :interval, SubsEngine::Plan.intervals.keys %>
  </div>

  <div>
    <%= f.label :amount_cents %>
    <%= f.number_field :amount_cents %>
  </div>

  <div>
    <%= f.label :currency %>
    <%= f.text_field :currency, maxlength: 3 %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
