<!DOCTYPE html>
<html>
<head>
  <title>Subs engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "subs_engine/dashboard", media: "all" %>
  <%= javascript_include_tag "turbo", "Chart.bundle", "chartkick", defer: true %>
</head>
<body>

<%= yield %>

</body>
</html>
